body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 217, 217);
    font-family: Arial, Helvetica, sans-serif;
}

                                        /* Top section */

.top-container{
    flex:1;
    display:flex;
    background-color: darkgray;
    flex-direction: column;
    border-bottom: 15px solid lightgrey;
}

.top-beam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px;
    flex:1;
}

.top-account-link,
.top-section-link{
    color: white;
}
.top-description{
    display: flex;
    color: black;
    background-color: white;
    font-size: 38px;
    font-weight: bold;
    flex-wrap: wrap;
    margin:15px;
    padding:20px;
    border:2px solid black;
}

.top-section-link{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.top-section-link2{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.top-account-link{
    display:flex;
    width:70px;
    justify-content: center;
    align-items: center;
    padding:5px;
    font-weight: bold;
}

                                /* Mid-section, or main content */


.mid-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-topic{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    width: 400px;
}

.mid-title{
    flex:1;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.mid-content{
    flex:1;
}







.lower-container